.high_school {
	clear: both;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #13151c;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;
}

.backcolor_school {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.data {
	float: left;
	width: 50%;
}

.data h1 {
	border-bottom: 2px solid white;
	display: inline-block;
	padding-bottom: 10px;
}

.data_img {
	width: 50%;
	float: right;
	margin-top: 25px;
	text-align: center;
}

.data_img img {
	border-radius: 50%;
	width: 230px;
	border: 2px solid white;
	margin-left: 11%;
}


.button_mid {
	clear: both;
	text-align: center;
	margin: 100px;

}

.button_mid a {
	float: none;
	color: white;
	border: 2px solid white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	-webkit-transition: 1s;
	padding: 14px;
	padding-left: 45px;
	padding-right: 45px;
	margin-right: 45px;
	margin-left: 45px;
}

.button_mid a:hover {
  background-color: #048ace;
  border: 2px solid #048ace;
  transition: 1s;
  
}


