* {
	margin: 0;
	padding: 0;
	font-family: 'Saira Condensed', sans-serif;
}

body {
	
	background-image: url("https://danielstoychev.com/images/under_const.png");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#0b0c11;
}

.container {
	
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

h1 {
	font-size: 36px;
	font-weight: normal;
}

.container hr {
	width: 37px;
}

h2 {
	margin-top: 2%;
	font-size: 70px;
	font-weight: normal;
}

p {
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}

.social1 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
}

.social1 img {
	height: 18px;
	margin: 20px;
}

form {
	margin-top: 4%;
}

input[type=email], select {
  width: 30%;
  padding: 10px;
  display: inline-block;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-right: none;
  font-size: 15px;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 17px;
}

input[type=submit] {
  width: 15%;
  background-color: #0b0c11;
  color: white;
  padding: 14px;
  margin: 0px;
  border: none;
 transition: 0.5s;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  margin-left: -20px;
}

input[type=submit]:hover {
  background-color: #048ace;
  transition: 0.5s;
}



#timer {
	font-size: 30px;
	width: 40%;
	
	
	text-align: left;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;

}

#timer span {
	/*padding-right: 40px; */
	
}

#timer-days {
	padding-left: 24.5%;
	padding-right: 10%;
}

#timer-hours {
	padding-right: 10%;
}

#timer-mins {
	padding-right: 10%;
}


.name span {
	text-transform: uppercase;
	font-size: 30px;
	padding-right: auto;
	padding-left: auto;
	padding-left: 1.2%;
	padding-right: 1.2%;
}



#days {
	margin-left: 25px;
}

@media only screen and (max-width: 800px) {
	h2 {
		font-size: 36px;
		margin-top: 50px;
	}
	input[type=email], select {
		width: 60%;
	}
	input[type=submit] {
		width: 30%;
	}
	#timer {
		width: 100%;
		font-size: 24px;
	}
	form {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	#days {
		margin-left: 10px;
	}
	.name span {
		padding-left: 3.2%;
		font-size: 25px;
	}
}



